html{
  height: 100%;
}
body{
  background-color: gainsboro;
  overflow-x: hidden;
}
nav{
  height: 80px;
  width: auto;
  border-bottom: 1px solid #000;
  padding: 20px;
  margin-bottom: 40px;
}
main{
  margin-bottom: 40px;
}
.navhead{
  display: inline-block;
}
.profileimage{
  display: inline-block;
  position: absolute;
  left: 1300px;
  height: 50px;
  width: 50px;
  border: 1px solid #000;
  border-radius: 50%;
  background-image: url('Black&white.jpg');
  background-size: cover;
  background-position: center;

}
.messagebubble{
  margin-bottom: 40px;
}
.nes-list{
  margin-bottom: 0;
}
#container1{
  margin-top: 50px;
  margin-bottom: 20px;
}
#container2{
  margin-top: 40px;
  margin-bottom: 40px;
}
a{
  text-decoration: none;
  color: #000;
}
a>i{
  transition: all 0.2s ease-in-out;
}
a>i:hover{
  translate: scale(1.1);
}
#hobbycolumn{
  margin-top: 40px;
}
.item{
  margin-bottom: 2px;

}
.row{
  margin-top: 15px;
  margin-bottom: 15px;
}
.nes-progress{
  height: 33px;
}
footer{
  height: 100px;
  width: auto;
  border-top: 1px solid #000;
  padding: 20px;
  text-align: center;
  background-color: #222;
  color: grey;
  font-size: 16px;
}
.endnote{
  font-size: 10px;
  margin-top: 15px;
  font-weight: bold;
}

@media(max-width: 475px){
  body{
    width: auto;
    overflow-x: hidden;
  }
  .navbar{
    padding: 10px;
  }
  .navhead{
    font-size: 15px;
  }
  .profileimage{
    height: 40px;
    width: 40px;
    left: 325px;
    top: 10px
  }
}
@media(max-width: 768px){
  body{
    width: 800px;
    overflow-x: hidden;
  }
  .navbar{
    padding: 15px;
  }
  .profileimage{
    left: 700px;
  }
}
@media print{
  #container1{
    display: none;
  }
  #frontend{
    margin-top: 40px;
  }
}
@media(max-width: 1024px){
  body{
    width: 1075px;
    overflow-x: hidden;
  }
  .navbar{
    padding: 20px;
  }
  .profileimage{
    left: 1000px;
  }
}
@media(max-width: 1024px){
  body{
    max-width: 100%;
    overflow-x: hidden;
  }
  .navbar{
    padding: 20px;
  }
  .profileimage{
    left: auto;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
  }

  .navhead, .profileimage {
    margin: 0 auto;
  }

  .maincolomns {
    flex-direction: column;
  }

  #leftcol {
    margin-bottom: 20px;
  }

  .nes-container {
    margin-bottom: 20px;
  }

  .col-md-4, .col-sm-4, .col-xs-12 {
    padding: 10px;
  }
}